*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bar-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Georgia', serif;
    color: #333;
}

.disclaimer{
    padding: 2.5rem 1.5rem;

    border-radius: 8px 0 0 8px;
    border: 1px solid white;
    border-right: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    font-size: 1.5rem;
    background-color: rgba(174, 22, 22, 0.673);

    position: fixed;
    z-index: 1000;
    right: 0;
    top: 45%;

    color: white;
    text-align: center;
}

header{
    padding: 5rem 0;
    background-image: url(https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80);
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 3.5rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header p{
    font-size: 1.5rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* tab */
.tab{
    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    margin: 2rem 10rem;
}

.tab-h1{
    color: #2d3748;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e53e3e;
    margin-bottom: 1rem;

    font-size: 1.7rem;
}

.tab-h2{
    color: #e53e3e;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab-p{
    font-size: 1rem;
    line-height: 170%;
}

.sec-ul{
    margin-left: 1rem;
}

.sec-ul li{
    margin-bottom: 8px;
}

.tab-h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.drink-types{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: rgba(204, 217, 226, 0.95);
    border-radius: 1rem;
    margin: 1rem 0;
}

.dt-image{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 1rem;
    margin-right: 1rem;
}



footer{
    background-image: url('https://images.unsplash.com/photo-1551024506-0bccd828d307?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80');
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
    color: white;
    font-size: 1rem;

    display: flex;
    justify-content: center;
}