*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bar-background.jpg);
    background-size: cover;
    background-position: center;

    font-family: 'Georgia', serif;
    color: #333;
}

header{
    padding: 5rem 0;
    background-image: url(https://images.unsplash.com/photo-1551538827-9c037cb4f32a?ixlib=rb-4.0.3&auto=format&fit=crop&w=1200&q=80);
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 3.5rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header p{
    font-size: 1.5rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* tab */
.tab{
    padding: 2rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    margin: 2rem 10rem;
}

.tab-h1{
    color: #2d3748;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e53e3e;
    margin-bottom: 1rem;

    font-size: 1.7rem;
}

.tab-h2{
    color: #e53e3e;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab-p{
    font-size: 1rem;
    line-height: 170%;
}

.sec-ul{
    margin-left: 1rem;
}

.sec-ul li{
    margin-bottom: 8px;
}